div {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 20px;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.first {
    background-color: red;

}
.first:hover {
    width: 300px;
}

.second {
    background-color: blue;
}

.second:hover {
    height: 300px;
}

.third {
    background-color: green;
}

.third:hover {
    height: 300px;
    width: 300px;
}